

h1 {
  display : inline-block;
  color: #bcada3;
  text-align: center;
  font-size: 60px;
  padding : 20px;
  background-color: #9b3b3b;
  border-radius: 0 0 0 20px;
  left:66.5%;
  bottom:72%;
  position:fixed;
}

h1:hover {
  animation: CappuccinoLaser 1s linear infinite;
}

h2{
  display : block;
  color: #9b3b3b;
  text-align: center;
  font-size: 40px;
  padding : 15px;
  background-color: #bcada3;
  border-radius:  0 20px 20px 0;
  position:fixed;
  left: 0%;
  bottom: 74%;
}

h2:hover {
  animation: redLaserLong 1s linear infinite;
}
