

h1 {
  display : inline-block;
  color: #bcada3;
  text-align: center;
  font-size: 60px;
  padding : 20px;
  background-color: #9b3b3b;
  border-radius: 0 0 0 20px;
  right: -webkit-calc(-1% + 10px);
  bottom: -webkit-calc(70% + 100px);
  transform: translateX(0%);
  transform: translateY(0%);
  position:absolute;
  border-width: 10px 0px 10px 10px;
  border-style: solid;
  border-color: #bcada3;

}

h1:hover {
  animation: CappuccinoLaser 1s linear infinite;

}

h2 {
  display: inline-block;
  color: #9b3b3b;
  text-align: center;
  font-size: 40px;
  padding: 15px;
  background-color: #bcada3;
  border-radius: 0 20px 20px 0;
  position: fixed;
  left: -webkit-calc(106% + 10px);
  bottom: -webkit-calc(74%);
  transform: translateX(0%);
  transform: translateY(0%);
  transition: transform 0.3s ease-in-out;
  animation: CappuccinoLaserShort 3s linear infinite;
}

h2:hover {
  transform: translateX(83%);
  transition: transform 0.3s ease-in-out;
  animation: CappuccinoLaserShort 1s linear infinite;
}



