

button {
  margin: auto;
  padding:30px;
  text-align: center;
  font-family: "Comic Sans MS";
  font-size: 60px;
  border-radius: 5px 5px 10px 10px;
  border:none;
  outline: none;
}
button:hover{
  animation: CappuccinoLaser 1s linear infinite;
}
