

a{
  color : #bcada3;
}

a:hover{
  color : #ffffff;
}



.dropdown {
  position: relative;
  display: inline-block;
  align-items: center;
  bottom:100%;
}

.dropdown-button {
  position: relative;
  padding: 10px 55px;
  background-color: #1b9a92;
  color: #bcada3;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  outline: none;
  align-items: center;
  align-content: center;
  margin: auto;
  justify-content: center;
  bottom:100%;
  cursor: pointer;
}

.dropdown-button:hover {
  animation: blueLaser 1s linear infinite;

}

.dropdown-content button:hover {
  animation: redLaser 1s linear infinite;
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1b9a92;
  color: #ffffff;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  outline: none;
  justify-content: center;
  animation: dropDown 0.7s ease-in-out;
  animation-fill-mode: forwards;
}

.dropdown:hover .dropdown-content {
  display:block;
  position:absolute;
  color: #fff;






}

.dropdown-content button{
  background-color: rgba(26, 150, 150, 0);
  border-radius : 20px;
  position : relative;
  color : #fff;
  outline: none;
  border: none;







}

.dropdown-content button:hover{
  background-color: #900;
  border-radius : 15px;
  position : relative;
  color : #fff;
  outline: none;
  border: none;


}

